In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

In [2]:
salaries = pd.read_csv('Data/Salaries.csv')
salaries.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [3]:
salaries_columns_keep = ['yearID', 'playerID', 'teamID', 'salary']

In [4]:
allstarfull = pd.read_csv('Data/AllstarFull.csv')
allstarfull.columns

Index(['playerID', 'yearID', 'gameNum', 'gameID', 'teamID', 'lgID', 'GP',
       'startingPos'],
      dtype='object')

In [5]:
allstarfull_columns_keep = ['yearID', 'playerID', 'GP']

In [28]:
appearances = pd.read_csv('Data/Appearances.csv')
appearances = appearances.groupby(['yearID', 'playerID']).sum().reset_index()

In [7]:
appearances_columns_keep = ['yearID', 'playerID', 'G_all', 'GS']

In [8]:
awardsplayers = pd.read_csv('Data/AwardsPlayers.csv')
awardsplayers['awardID'] = awardsplayers['awardID'].str.upper()
one_hot_awards = pd.get_dummies(awardsplayers['awardID'])
awardsplayers = awardsplayers.drop('awardID', axis=1)
awardsplayers = awardsplayers.join(one_hot_awards)
awardsplayers = awardsplayers.groupby(['playerID', 'yearID']).sum().reset_index()
awardsplayers.columns

Index(['playerID', 'yearID', 'lgID', 'tie', 'notes', 'ALCS MVP',
       'ALL-STAR GAME MVP', 'BABE RUTH AWARD', 'BASEBALL MAGAZINE ALL-STAR',
       'BRANCH RICKEY AWARD', 'COMEBACK PLAYER OF THE YEAR', 'CY YOUNG AWARD',
       'GOLD GLOVE', 'HANK AARON AWARD', 'HUTCH AWARD',
       'LOU GEHRIG MEMORIAL AWARD', 'MOST VALUABLE PLAYER', 'NLCS MVP',
       'OUTSTANDING DH AWARD', 'PITCHING TRIPLE CROWN',
       'RELIEVER OF THE YEAR AWARD', 'ROBERTO CLEMENTE AWARD',
       'ROLAIDS RELIEF MAN AWARD', 'ROOKIE OF THE YEAR', 'SILVER SLUGGER',
       'TRIPLE CROWN', 'TSN ALL-STAR', 'TSN FIREMAN OF THE YEAR',
       'TSN GUIDE MVP', 'TSN MAJOR LEAGUE PLAYER OF THE YEAR',
       'TSN PITCHER OF THE YEAR', 'TSN PLAYER OF THE YEAR',
       'TSN RELIEVER OF THE YEAR', 'WORLD SERIES MVP'],
      dtype='object')

In [9]:
awardsplayers_columns_keep = ['yearID', 
                              'playerID', 
                              'GOLD GLOVE', 
                              'MOST VALUABLE PLAYER', 
                              'ROOKIE OF THE YEAR', 
                              'SILVER SLUGGER', 
                              'TRIPLE CROWN', 
                              'CY YOUNG AWARD', 
                              'WORLD SERIES MVP', 
                              'PITCHING TRIPLE CROWN',
                              'ALCS MVP',
                              'NLCS MVP',]

In [10]:
batting = pd.read_csv('Data/Batting.csv')
batting = batting.groupby(['playerID', 'yearID']).sum().reset_index()

In [11]:
batting_columns_keep = ['yearID', 'playerID', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP']

In [12]:
fielding = pd.read_csv('Data/Fielding.csv')
one_hot = pd.get_dummies(fielding['POS'])
fielding = fielding.drop('POS', axis=1)
fielding = fielding.join(one_hot)

# Group by 'playerID' and 'yearID' and sum the columns
fielding = fielding.groupby(['playerID', 'yearID']).sum().reset_index()

# We could track games played by position, but for now we'll just sum them all up

In [13]:
fielding_columns_keep = ['yearID', 'playerID', 'G', 'GS', 'InnOuts', 'PO', 'A', 'E', 'DP', 'PB', 'WP', 'SB', 'CS', 'ZR', '1B', '2B', '3B', 'C', 'OF', 'P', 'SS']

In [14]:
fieldingof = pd.read_csv('Data/FieldingOF.csv')
fieldingof = fieldingof.groupby(['playerID', 'yearID']).sum().reset_index()

In [15]:
fieldingof_columns_keep = ['yearID', 'playerID', 'Glf', 'Gcf', 'Grf']

In [16]:
pitching = pd.read_csv('Data/Pitching.csv')
pitching = pitching.groupby(['playerID', 'yearID']).sum().reset_index()

In [17]:
pitching_columns_keep = ['yearID', 'playerID', 'W', 'L', 'G', 'GS', 'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP']

In [29]:
df = pd.merge(salaries[salaries_columns_keep], allstarfull[allstarfull_columns_keep], on=['playerID', 'yearID'], how='left', suffixes=('_salaries', '_allstarfull'))
df = pd.merge(df, appearances[appearances_columns_keep], on=['playerID', 'yearID'], how='left', suffixes=('', '_appearances'))
df = pd.merge(df, awardsplayers[awardsplayers_columns_keep], on=['playerID', 'yearID'], how='left', suffixes=('', '_awardsplayers'))
df = pd.merge(df, batting[batting_columns_keep], on=['playerID', 'yearID'], how='left', suffixes=('', '_batting'))
df = pd.merge(df, fielding[fielding_columns_keep], on=['playerID', 'yearID'], how='left', suffixes=('', '_fielding'))
df = pd.merge(df, fieldingof[fieldingof_columns_keep], on=['playerID', 'yearID'], how='left', suffixes=('', '_fieldingof'))
df = pd.merge(df, pitching[pitching_columns_keep], on=['playerID', 'yearID'], how='left', suffixes=('', '_pitching'))

In [30]:
df

,yearID,playerID,teamID,salary,GP,G_all,GS,GOLD GLOVE,MOST VALUABLE PLAYER,ROOKIE OF THE YEAR,...,IBB_pitching,WP_pitching,HBP_pitching,BK,BFP,GF,R_pitching,SH_pitching,SF_pitching,GIDP_pitching
0,1985,barkele01,ATL,870000,NaN,20.0,18.0,NaN,NaN,NaN,...,1.0,3.0,1.0,0.0,335.0,1.0,55.0,4.0,1.0,4.0
1,1985,bedrost01,ATL,550000,NaN,37.0,37.0,NaN,NaN,NaN,...,6.0,6.0,5.0,0.0,907.0,0.0,101.0,6.0,7.0,17.0
2,1985,benedbr01,ATL,545000,NaN,70.0,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,campri01,ATL,633333,NaN,66.0,2.0,NaN,NaN,NaN,...,11.0,4.0,5.0,0.0,569.0,23.0,72.0,4.0,4.0,24.0
4,1985,ceronri01,ATL,625000,NaN,96.0,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26424,2016,strasst01,WAS,10400000,0.0,24.0,24.0,NaN,NaN,NaN,...,1.0,2.0,2.0,0.0,598.0,0.0,59.0,5.0,1.0,7.0
26425,2016,taylomi02,WAS,524000,NaN,76.0,48.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26426,2016,treinbl01,WAS,524900,NaN,73.0,0.0,NaN,NaN,NaN,...,6.0,1.0,0.0,0.0,263.0,17.0,19.0,2.0,2.0,17.0
26427,2016,werthja01,WAS,21733615,NaN,143.0,139.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26428,2016,zimmery01,WAS,14000000,NaN,115.0,109.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.columns

Index(['yearID', 'playerID', 'teamID', 'salary', 'GP', 'G_all', 'GS',
       'GOLD GLOVE', 'MOST VALUABLE PLAYER', 'ROOKIE OF THE YEAR',
       'SILVER SLUGGER', 'TRIPLE CROWN', 'CY YOUNG AWARD', 'WORLD SERIES MVP',
       'PITCHING TRIPLE CROWN', 'ALCS MVP', 'NLCS MVP', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'G_fielding', 'GS_fielding', 'InnOuts', 'PO', 'A', 'E',
       'DP', 'PB', 'WP', 'SB_fielding', 'CS_fielding', 'ZR', '1B',
       '2B_fielding', '3B_fielding', 'C', 'OF', 'P', 'SS', 'Glf', 'Gcf', 'Grf',
       'W', 'L', 'G_pitching', 'GS_pitching', 'CG', 'SHO', 'SV', 'IPouts',
       'H_pitching', 'ER', 'HR_pitching', 'BB_pitching', 'SO_pitching',
       'BAOpp', 'ERA', 'IBB_pitching', 'WP_pitching', 'HBP_pitching', 'BK',
       'BFP', 'GF', 'R_pitching', 'SH_pitching', 'SF_pitching',
       'GIDP_pitching'],
      dtype='object')

In [36]:
df.to_csv('Data/merged_data.csv', index=False)